.landing {
    background-color: var(--off-black);
    color: var(--off-white);
    display: flex;
    align-items: center;
    gap: 25rem;
    padding-top: 75rem;
}

.landing-text {
    display: flex;
    flex-direction: column;
    width: fit-content;

    h1 {
        font-family: var(--font-montserrat);
        font-size: 50rem;
        font-weight: 800;
        margin-left: 10%;
        
    }
    p {
        font-family: var(--roboto);
        font-size: 30rem;
        font-weight: 700;
        margin-top: 140rem;
        margin-left: 10%;
    }

    #sub-landing-text {
        color: var(--gold);
    }
}

.landing-image {
    width: 100%;
    margin-top: 52rem;
    img {
        display: block;
        width: 900px;
        height: 1100px;
        object-fit: cover;
        filter: grayscale(30%);
    }
}