.programs-container {
    width: 100%;
    background-color: var(--off-black);
    color: var(--off-white);
    font-size: 48rem;
    font-family: var(--font-montserrat);
    font-weight: bolder;

    h1 {
        margin-left: 5%;
        margin-bottom: 32rem;
    }

}

.programs {
    display: flex;
    margin-left: 5%;
}

@media screen and (max-width: 768px ) {
    .programs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 200rem;

        h1 {
            font-size: 42rem;
        }
    }

    .programs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon-container {
        display: none;
    }
}
